{% extends 'base.html.twig' %}

{% block title 'FIGURINA' %}

{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="jumbotron">
                    <div class="container text-center">
                        <div class="jumbotron" style="background-color: #0a0a0a">
                        <h3 style="font-weight: bold; color: #FFFFFF">Paiement terminé</h3>
                        </div>
                    </div>
                    <p> Votre commande a été effectuée avec succès, <strong>{{ app.user.nom }} {{ app.user.prenom }} </strong> ! <br><br>
                        Votre achats est d'un total de <strong>{{ total }} €</strong>.
                        Vous allez recevoir un email présentant votre facture au formats pdf. <br>
                        Ce mail seras envoyer a cette adresse :<strong>{{ app.user.email }}</strong> <br>
                        Lorsque vous avez reçus ce mail, celui-ci confirme votre achat. <br><br>
                        A bientôt sur FIGURINA ! <br><br>
                        Continuez mon achat : <a href="{{ url('produit_index') }}">Retour à la page produit</a>.
                    </p>
                    <br>
                    <div class="container">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}


