{% extends 'base.html.twig' %}

{% block title 'FIGURINA | Confirmation paiement' %}

{% block body %}

    <style>
        a {
            color: #222222;
        }
    </style>

    <div class="jumbotron" >
        <div class="container-fluid text-center">
            <div class="jumbotron"  style="background-color: #0a0a0a">


            <h3 style="font-weight: bold; font-size : 2rem; color: #FFFFFF">LIVRAISON</h3>


            </div>
        </div>
        <div class="container">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-6">
                        <div class="text-center">
                            <div class="jumbotron" style="background-color: #0a0a0a">
                            <h5 style="font-weight: bold; text-align: center; color: #FFFFFF">Information de facturation</h5>
                            </div>
                        </div>

                    <div class="jumbotron">
                        <strong>Nom | Prénom &nbsp;</strong><br>{{ app.user.nom }} | {{ app.user.prenom }}<br><br>
                        <strong >Adresse (livraison) :&nbsp;<h6>(vous devez en chosir une avant de continuez)</h6></strong>
                        {% if adresse | length > 0 %}<p>{{ adresse }}</p>{% endif %}
                        <br>
                        <strong>Adresse (facturation) :&nbsp;</strong><br>{% if app.user.adresse | length > 0 %}<p>{{ app.user.adresse }}</p>{% else %}<p style="color: red;">Veuillez inscrire votre adresse sur votre <a href="{{ path ('user.profil')}}">profil</a> pour continuer</p>{% endif %}<br><br>
                        <strong>Email de facturation :<br></strong>{{ app.user.email }}
                    </div>

                </div>


                <div class="col-md-5">
                    <div class="jumbotron">
                        <div class="text-center">

                                <div class="jumbotron" style="background-color: #0a0a0a">

                                    <h5 style="font-weight: bold; color: #FFFFFF">Adresse de livraison</h5>

                                </div>


                            {% for magasin in magasins %}
                                <a style="font-weight: bold">{{ magasin.nom }} </a> : <a> {{ magasin.adresse }}</a>
                                <a href="{{ path('commande.add.livraison', {'id': magasin.id, 'nom': magasin.nom, 'adresse': magasin.adresse}) }}" style="float: left;" class="btn btn-grey btn-sm"> +</a>
                                <br><br>
                            {% endfor %}
                        </div>
                        <br>
                        <p style="color: #bf0f2d; text-align: center; font-weight: bold">Pour continuez vous devez renseignez l'adresse de livraison</p>
                    </div>
                    {% if app.user.adresse | length > 0 %}
                        {% if adresse | length > 0 %}
                            <div class="jumbotron">
                                <div class="text-center">
                                    <div class="jumbotron"  style="background-color: #0a0a0a; padding: 1rem 1rem ">
                                    <p style="font-weight: bold; color: #FFFFFF; margin: unset">Régler votre commande</p>
                                    </div>
                                    <div class="text-center">
                                        <td>
                                            <a href="{{ path('paiement', {'id': item.produit.id}) }}" class="btn btn-grey" style="font-weight: bold">Poursuivre ma commande</a>
                                        </td>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <a href="{{ path('panier') }}" style="float:left;">< revenir au panier</a>
    </div>
{% endblock %}


