{% extends 'base.html.twig' %}

{% block title 'FIGURINA | Page produit' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% if produit.filename %}
                        <img src="../images/produits/{{ produit.filename }}" alt="Symfony!" style="width: 100%; height:auto;">
                    {% else %}
                        <img src="{{ '../images/produits/image_de_bases.png' }}" alt="Symfony!" class="image-display" style="width: 100%; height:auto;" />
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            {% for licence in produit.idLicence %}
                <div class="row">
                    <strong>Licence :&nbsp;</strong> {{ licence.libelle | nl2br }}
                </div>
            {% endfor %}
            <br>
            {% for marque in produit.idMarque %}
                <div class="row">
                    <strong>Marque :&nbsp;</strong> {{ marque.libelle | nl2br }}
                </div>
            {% endfor %}
            <br>
            <div class="row">
                <strong>Prix de la figurine :&nbsp;</strong> {{ produit.prixht | nl2br }} euros
            </div>
            <br>
            <div class="row">
                <strong>Stock disponible :&nbsp;</strong>
                {% if produit.stock == 0 %}
                    <strong style="color: red">RUPTURE DE STOCK</strong>
                {% else %}
                    {{ produit.stock | nl2br }}
                {% endif %}

            </div>
            <br>
            <div class="row">
                <strong>Description :</strong> {{ produit.description | nl2br }}
            </div>
            <br>
            <div class="row">
                <strong>Magasin(s) disposant de cet/ces article(s) :&nbsp;</strong>
{#                {% for magasin in produit.idMagasin %}#}
{#                    <a href="{{ path('show_magasin', {id: magasin.id, slug: magasin.slug}) }}">{{ magasin.nom | nl2br }}</a>,#}
{#                {% endfor %}#}
            </div>
<br>
            <div class="row">
                  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if produit.stock == 0 %}

                    {% else %}
                        <a href="{{ path ('panier.add', {'id': produit.id}) }}" style="float: left" class="btn btn-grey">Ajouter au panier</a>
                    {% endif %}
                {% else %}
                    <p>Pour commander un produit, veuillez vous connecter : <a href="{{ path ('app_login')}}">Se connecter</a></p>
                {% endif %}

            </div>
        </div>
    </div>
    <br>
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-3">
                    <a href="{{ path ('produit_index')}}" class="btn btn-outline-black"> < Revenir à la page produit</a>
                </div>
               <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}


