<style type="text/css">
    body {
        font-family: helvetica;

    }
    table {
        width: 100%;
        color: rgba(47, 49, 51, 0.99);
        line-height: 5mm;
        border-collapse: collapse;
    }
    h2 { margin: 0; padding: 0; }
    p { margin: 5px; }

    .border th {
        border: 1px solid #000;
        color: white;
        background: #000;
        padding: 5px;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
    }
    .border td {
        border: 1px solid #CFD1D2;
        padding: 5px 10px;
        text-align: center;
    }
    .no-border {
        border-right: 1px solid #CFD1D2;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }
    .space { padding-top: 250px; }

    .10p { width: 10%; } .15p { width: 15%; }
    .25p { width: 25%; } .50p { width: 50%; }
    .60p { width: 60%; } .75p { width: 75%; }
</style>


<p style="font-weight: bold; font-size : 2rem;">FACTURE</p><br>

            <p style="font-weight: bold;">{{ app.user.nom }} {{ app.user.prenom }}</p>
            <p>{{ app.user.adresse }}</p>
<br>

            <p style="font-weight: bold;">Facturé à </p>
            <p>{{ app.user.adresse }}</p>
<br>



            <p style="font-weight: bold;">Envoyé à</p>
            <p>{{ adresse }}</p>

<br>

<p style="font-weight: bold;">Facture N° </p> <p> {{ token }}</p>
<p style="font-weight: bold;">Date de la commande :</p> <p> {{ date }}</p>
<p style="font-weight: bold;">Date de livraisons : </p> <p> {{ dateLivraison }}</p>
<br>

                <table class="border">
                    <thead>
                    <tr>
                        <th>Quantité</th>
                        <th>Désignation</th>
                        <th>Prix Unitaire HT</th>
                        <th>Montant HT</th>
                        <th>Montant TTC</th>
                    </tr>
                    </thead>
                    {{ app.user.nom }}
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.quantity }}</td>
                            <td style="font-weight: bold;">{{ item.produit.libelle }}</td>
                            <td>{{ item.produit.prixht }}</td>
                            <td>{{ item.produit.prixht * item.quantity }}</td>
                            <td>{{ item.produit.prixht * 0.80 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

<br>
<p style="font-weight: bold;">TVA : </p> <p> 20% </p>
            <p style="font-weight: bold;">Livraison : </p> <p>{{ livraison }} €</p>
            <p style="font-weight: bold;">Total :</p> <p>{{ total }} €</p>
<br>
    <p style="font-weight: bold;">L'équipe FIGURINA</p>


