{% extends 'base.html.twig' %}

{% block title 'Statistique | Par mois' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <div class="jumbotron" style="background-color: #0a0a0a">
                <h2 style="color: #FFFFFF; font-weight: bold">STATISTIQUE PAR MOIS</h2>
                </div>
            </div>
        </div>
        <br>
        <br>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <table class="table">
                        <style>
                            th {
                                color:#FFFFFF;
                            }
                        </style>
                        <thead style="background-color: #0a0a0a">
                        <tr>
                            <th>Personne inscrite</th>
                            <th>Commande effectuée</th>
                            <th>Produit vendu</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ totalInscrit }}</td>
                            <td>{{ totalFacture }}</td>
                            <td>{{ totalProduit }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <br>
                    <a href="{{ path('admin.stat.index') }}">< revenir aux statistiques totales</a>
                </div>
                <div class="col-md-4">
                    <div class="jumbotron">
                        <div class="text-center">
                            <div class="jumbotron" style="background-color: #0a0a0a; padding: 1rem 1rem">
                            <h5 style="color: #FFFFFF; font-weight: bold">FILTRE</h5>
                            </div>
                            <br>
                            <a href="{{ path ('admin.stat.mois')}}" class="btn btn-grey">Stat / Mois</a>
                            <a href="{{ path ('admin.stat.semaine')}}" class="btn btn-grey">Stat / Semaine</a>
                            <a href="{{ path ('admin.stat.jour')}}" class="btn btn-grey">Stat / Jours</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


